---
pagination:
  data: mapel
  size: 1
  alias: item
permalink: "tryout/{{ item.slug }}/paket-1/index.html"
layout: layouts/base.njk
extraScripts:
  - "assets/js/quiz-engine.js"
eleventyComputed:
  title: "Tryout {{ item.nama }} - Paket 1"
  description: "Kerjakan tryout gratis paket 1 {{ item.nama }} langsung di browser."
---
<p><a href="/tryout/{{ item.slug }}/">&larr; Paket Tryout {{ item.nama }}</a></p>
<h1>Tryout {{ item.nama }} - Paket 1 (Gratis)</h1>
<p>Durasi rekomendasi: {{ tryoutFree[item.slug].durasiMenit }} menit. Jawab semua soal, lalu klik "Selesai & Lihat Skor" di bagian akhir.</p>

<div id="quiz-container"></div>

<script>
var TRYOUT_SLUG = {{ item.slug | dump | safe }};
var TRYOUT_DATA = {{ tryoutFree[item.slug] | dump | safe }};
document.addEventListener("DOMContentLoaded", function () {
  TKAQuiz.init("quiz-container", TRYOUT_SLUG, TRYOUT_DATA);
});
</script>
