<header class="site-header">
  <div class="container">
    <a class="brand" href="/">{{ site.nama }}</a>
    <nav>
      <a href="/tentang-tka/">Tentang TKA</a>
      <a href="/mata-pelajaran/">Mata Pelajaran</a>
      <a href="/tryout/">Tryout</a>
      <a href="/pilih-mapel/">Pilih Mapel</a>
      <a href="/harga/">Harga</a>
    </nav>
  </div>
</header>
